@{
    ViewBag.Title = "Album Index";
}

<h4>Load a Photo Album</h4>
<hr />
<div class="form-group">
    <div class="col-md-2">Photo Album ></div>
    <div class="col-md-10">
        <input id="albumID" name="albumID" />
    </div>
</div>

<table id="Index" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                Album ID
            </th>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                URL
            </th>
            <th>
                ThumbnailURL
            </th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                Album ID
            </th>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                URL
            </th>
            <th>
                ThumbnailURL
            </th>
        </tr>
    </tfoot>

    <tbody></tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('#Index').DataTable({
            "ajax": {
                "url": '@Url.Action("AlbumSuggestions", "Home")',
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.albumID = document.getElementById("albumID").value
                }
            },
            "columns": [
                        { "data": "albumId" },
                        { "data": "id" },
                        { "data": "title" },
                        { "data": "url" },
                        { "data": "thumbnailUrl" },
            ],
        });
    });

    $("#albumID").change(function () {
        $('#Index').DataTable().ajax.reload();
    });
</script>